@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

* {
  font-family: 'Source Code Pro', Impact
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    flex: 1;
    padding: 2em;
    margin: 1em;
    background-color: #47AFE9;
    color: #fff;
    font-size: 3em;
    border: none;
    outline: none;
  }

  button:active {
    background-color: rgb(58, 144, 190);
  }

  button:hover {
    cursor: pointer;
  }

  .timer-container {
    margin: 1em 2em 1em 1em;
    flex: 1;
    text-align: center;
    font-size: 6em;
    height: 100%;
    font-weight: 600;
  }
}