.flex-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1em;
  min-height: 2em;

  input {
    flex: 1;
    padding: 2em;
    text-align: center;
  }

  .questions-container {
    flex: 1;
    text-align: center;
  }
}
